table {
    border-spacing: 1rem;
}

th {
    text-align: left;
}

h1 {
    margin-left: 1rem;
}

nav {
    margin-left: 1rem;
    display: flex;
    gap: 1rem;
}

nav a {
    /* color:black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em; */
}

body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

summary {
    font-size: 1.1rem;
}
